@media screen and (min-width:1800px) {
    .container {
        max-width: calc(1620px + 36px);
    }
}

@media screen and (max-width:1799.98px) {
    .container {
        max-width: calc(1360px + 36px);
    }

    .about-desc-inner {
        padding-left: 63px;
    }

    .stats-count.h1 {
        font-size: 74px;
    }

    .stats-item.lg .stats-circle {
        width: 20.083vw;
        height: 20.083vw;
    }

    .stats-item.md .stats-circle {
        width: 16.958vw;
        height: 16.958vw;
    }

    .stats-item.md {
        padding-top: 90px;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 70px;
    }

    .stats-item.sm .stats-circle {
        top: -49%;
    }

    .stats-item.xs {
        margin-top: 80px;
    }

    .stats-item.xs .stats-circle {
        top: -91%;
        right: -11%;
    }

    .stats-item.sm .stats-circle {
        top: -32%;
        left: -24%;
    }

    .highlighted-text {
        font-size: 15.344vw;
    }

    .stats-desc h6 {
        width: 58%;
    }
    h2.d-title{
        font-size: 56px;
        width: 98%;
    }
    .d-row {
        gap: 83px;
    }
    .count-block .h6,
    .ab-desc{
        font-size: 20px;
    }
    .count-item {
    padding: 48px 58px;
}
}

@media screen and (max-width:1750px) {
    .f-desc {
        margin-top: 25px;
    }

    .about-features-inner {
        gap: 60px;
    }

    .sub-title {
        margin-bottom: 10px;
    }

    h4 {
        font-size: 32px;
    }

    .testimonials-main {
        padding: 50px 50px 50px 50px;
    }

    .testimonials-slider .swiper-slide {
        height: 240px;
    }

    .industry-item {
        height: 305px;
    }

    .o-buttons {
        margin-top: 40px;
    }
}

@media screen and (max-width:1699.98px) {
    .industry-item {
        height: 295px;
    }

    .o-buttons .main-btn {
        padding: 25px 60px;
    }

    .stats-item.lg .stats-circle {
        width: 18.083vw;
        height: 18.083vw;
    }

    .stats-count.h1 {
        font-size: 64px;
    }

    .stats-item.sm .stats-circle {
        top: -39%;
    }

    .stats-item.md {
        padding-top: 80px;
    }

    .stats-item.xs {
        margin-top: 100px;
    }
}

@media screen and (max-width:1600px) {
    h1,.h1 {
        font-size: 74px;
    }

    .about-hero-wrapper {
        height: 770px;
    }

    .product-tab-wrapper .main-title {
        width: 35%;
    }

    .p-table-main {
        margin-top: 171px;
    }

    .testimonials-slider .swiper-slide {
        height: 240px;
    }

    .testimonials-main {
        padding: 50px 50px 100px 50px;
    }

    .t-stats {
        padding: 40px 50px;
    }

    h2 {
        font-size: 38px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }
}

@media screen and (max-width:1599.98px) {
    .container {
        max-width: calc(1240px + 36px);
    }
    h2.d-title {
        font-size: 52px;
    }
        .count-item {
        padding: 48px 38px;
    }
    .count-block .h6, .ab-desc {
        font-size: 18px;
    }

    .a-title {
        width: 80%;
    }

    .stats-item.md .stats-circle {
        right: -15%;
    }

    .stats-item.xs .stats-circle {
        top: -96%;
        right: -14%;
    }

    .stats-item.sm .stats-circle {
        top: -70%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 110px;
    }
}

@media screen and (max-width:1550px) {
    .about-features-inner {
        gap: 40px;
    }

    .btn-link span {
        font-size: 18px;
    }

    .statistics-wrapper {
        padding-bottom: 250px;
    }

    .main-btn {
        padding: 25px 80px;
    }

    .f-icon {
        width: 80px;
        height: 80px;
    }

    .f-desc {
        margin-top: 16px;
        font-size: 16px;
    }
}

@media screen and (max-width:1499.98px) {
    h4 {
        font-size: 24px;
    }

    .industry-item {
        height: 255px;
    }

    .indstry-titles-inner {
        height: 272px;
    }

    .ind-titles,
    .slider-arrow {
        margin-bottom: 30px;
    }

    .industries-slider-main {
        width: 80%;
    }

    .ind-titles {
        width: 59%;
    }

    .news-item {
        padding: 20px;
    }

    .b-meta {
        margin-top: 20px;
    }

    .news-item.sm {
        flex-direction: column;
    }

    .news-item figure {
        margin-bottom: 0;
    }

    .stats-item.md {
        padding-top: 80px;
    }

    .statistics-content-inner .st-one {
        padding-top: 130px;
    }

    .stats-item.lg .stats-circle {
        top: 8%;
    }

    .stats-item.xs .stats-circle {
        top: -94%;
        right: -11%;
    }

    .stats-item.xs {
        margin-top: 90px;
    }

    .stats-item.sm .stats-circle {
        top: -57%;
        left: -24%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 112px;
    }

    .stats-item.sm .stats-circle {
        top: -67%;
    }
}

@media screen and (max-width:1440.98px) {
    .about-desc-inner {
        padding-left: 43px;
    }


    .sub-title {
        margin-bottom: 15px;
    }

    .pro-sub-desc {
        font-size: 18px;
    }

    .p-title {
        margin-bottom: 20px;
    }

    .p-table-main {
        padding: 30px;
    }

    .p-table-main .table>:not(caption)>*>* {
        padding: 17px;
    }

    .ocal-content {
        padding-left: 10px;
    }

    .main-btn {
        padding: 25px 70px;
    }

    .main-btn span {
        font-size: 18px;
    }

    .about-desc-inner {
        padding-left: 53px;
    }

    .circular-arrow {
        position: absolute;
        right: 0;
        bottom: -35%;
    }

    .o-buttons {
        margin-top: 30px;
    }

    .ocalc-list {
        padding: 0 10px 0 0;
        margin-top: 30px;
    }

    .ocal-content h6 {
        font-size: 18px;
    }
}

@media screen and (max-width:1439.98px) {
    .container {
        max-width: calc(1060px + 36px);
    }
        h1,.h1 {
        font-size: 64px;
    }
        h2.d-title {
        font-size: 46px;
        width: 100%;
    }
        .d-row {
        gap: 63px;
    }
        .count-item {
        padding: 48px 36px;
    }

    .a-title {
        width: 90%;
    }

    .a-right-text {
        width: 41%;
    }
    .feature-wrapper .main-title {
    width: 90%;
}
.f-col-one.col-63{
    width: 54%;
}
.f-col-two.col-37{
    width: 46%;
}
.f-row{
     gap: 22px; 
}

    .about-desc-inner h4 {
        font-size: 21px;
    }

    .f-content {
        margin-top: 15px;
    }

    .about-desc-inner {
        padding-left: 33px;
    }

    .f-desc {
        margin-top: 10px;
    }

    .a-col-right {
        width: 58.4%;
    }

    .a-col-left {
        width: 41.6%;
    }

    .f-icon {
        width: 60px;
        height: 60px;
    }

    .f-eng-img {
        width: 36px;
    }

    .f-inno-img {
        width: 25px;
    }

    .sub-title {
        margin-bottom: 8px;
    }

    .about-features-inner {
        margin-top: 30px;
    }

    .stats-item.lg .stats-circle {
        width: 17.083vw;
        height: 17.083vw;
    }

    .stats-item.md .stats-circle {
        width: 15.958vw;
        height: 15.958vw;
    }

    .stats-count.h1 {
        font-size: 54px;
    }

    .stats-item.lg {
        padding-top: 120px;
    }

    .stats-item.md {
        padding-top: 50px;
    }

    .stats-item.lg .stats-circle {
        top: 21%;
    }

    .stats-item.md .stats-circle {
        top: -2%;
        right: -20%;
    }

    .stats-item.xs {
        margin-top: 60px;
    }

    .stats-item.xs .stats-circle {
        top: -72%;
        right: -19%;
    }

    .stats-item.sm .stats-circle {
        top: -72%;
        left: -25%;
    }

    .marquee-item {
        width: 250px;
    }

    .product-tab-wrapper .main-title {
        width: 45%;
    }

    .products-tab-inner .nav-link {
        width: 140px;
        height: 140px;
    }

    .products-tab-inner .nav-pills {
        bottom: 30px;
    }


}

@media screen and (max-width:1399.98px) {
    .ocal-content {
        padding: 50px 0 0 0;
    }

    .o-buttons {
        margin-top: 0;
        flex-direction: row;
    }

    .indstry-titles-inner {
        height: 262px;
    }

    .indstry-titles-inner {
        gap: 10px;
    }

    .industry-item {
        height: 235px;
    }

    .indstry-titles-inner {
        left: -60px;
    }

    .in-desc {
        width: 40%;
    }

    .industry-title-main .main-title {
        width: 100%;
    }

    .stats-item.md {
        padding-top: 48px;
    }

    .stats-desc h6 {
        width: 67%;
    }

    .stats-item.xs {
        margin-top: 50px;
    }

    .stats-item.xs .stats-circle {
        top: -86%;
    }

    .ocalc-img img {
        height: 390px;
        object-fit: cover;
    }

    .ocal-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .circular-arrow {
        position: static;
    }

    .products-tab-inner .nav-link {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width:1399.98px) and (min-width:1200px) {

    .o-buttons,
    .ocal-bottom {
        flex-direction: column;
    }

    .ocal-bottom {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
    }

    .ocal-content {
        padding: 0;
    }

    .circular-arrow {
        margin-left: auto;
    }

    .ocalc-list h6 {
        font-size: 18px;
    }
}

@media screen and (max-width:1360px) {
    .stats-item.md {
        padding-top: 14px;
    }

    .stats-item.md .stats-circle {
        top: -22%;
        right: -21%;
    }

    .stats-item.md .stats-circle {
        width: 15.958vw;
        height: 15.958vw;
    }

    .stats-count {
        font-size: 4vw;
    }

    .stats-item.lg .stats-circle {
        width: 17.083vw;
        height: 17.083vw;
    }

    .stats-item.xs .stats-circle {
        top: -69%;
        right: -16%;
    }

    .stats-item.sm .stats-circle {
        top: -69%;
        left: -29%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 58px;
    }
}

@media screen and (max-width:1359.98px) {
    .container {
        max-width: calc(960px + 36px);
    }
    .a-title {
        width: 80%;
    }
    h1,.h1 {
        font-size: 52px;
    }
    .counter-row,
    .counter-inner{
        gap: 30px;
    }
        .count-item {
        padding: 38px 35px;
    }
    .ab-desc {
    margin-top: 15px;
}
        h2.d-title {
        font-size: 42px;
    }
        .d-row {
        gap: 45px;
    }

    .about-hero-wrapper {
        height: 690px;
    }

    .a-right-text {
        width: 45%;
    }

    .about-desc-inner h4 {
        font-size: 18px;
    }

    .a-col-left {
        width: 48%;
    }

    .a-col-right {
        width: 52%;
    }

    .about-features-inner {
        flex-direction: column;
        gap: 20px;
    }

    .feature-item {
        display: flex;
        gap: 20px;
    }

    .f-icon {
        min-width: 60px;
    }

    .f-content {
        margin-top: 0;
    }

    .f-desc {
        margin-top: 8px;
    }

    .about-desc-inner h5 {
        font-size: 22px;
    }

    .about-desc-inner {
        padding-left: 23px;
    }

    .marquee-item {
        width: 230px;
    }

    .product-tab-wrapper .main-title {
        width: 53%;
    }

    .p-img {
        margin: 0px 0 -40px 0;
    }

    .pro-sub-desc {
        margin-bottom: 170px;
    }

    .highlighted-text {
        font-size: 14.344vw;
    }

}

@media screen and (max-width:1299.98px) {
    .industry-item {
        height: 200px;
    }

    .in-desc {
        width: 70%;
    }

    .swiper-btn.swiper-button-prev,
    .swiper-btn.swiper-button-next {
        width: 40px;
        height: 40px;
    }

    .swiper-btn.swiper-button-next svg,
    .swiper-btn.swiper-button-prev svg {
        width: 18px;
        height: 18px;
    }

    .industry-item {
        height: 218px;
    }

    .o-buttons .main-btn {
        padding: 20px 40px;
    }

}

@media screen and (max-width:1199.98px) {
    h6,.h6 {
        font-size: 18px;
    }

    .container {
        max-width: calc(800px + 36px);
    }
    .d-row {
        gap: 30px;
        flex-direction: column;
    }
    .col-45,
    .col-55{
        width: 100%;
    }
        h2.d-title {
        font-size: 36px;
    }

    .about-hero-wrapper {
        height: 620px;
    }

    .a-right-text {
        width: 59%;
    }

    .about-desc-inner h4 {
        font-size: 19px;
    }

    .about-desc-inner h6 {
        font-size: 18px;
    }

    .stats-count.h1 {
        font-size: 40px;
    }
    .a-row{
        gap:30px;
    }

    .a-img-sm {
        display: block;
        height: 400px;
        object-fit: cover;
        margin: 30px 0 30px
    }

    .a-img-lg {
        display: none;
    }

    .client-marquee-inner .marquee-block.last {
        width: 80%;
    }

    .marquee-item {
        width: 250px;
    }

    .a-col-left {
        width: 100%;
    }

    .a-col-right {
        width: 100%;
    }

    .about-desc-inner {
        padding: 30px 0 0 0;
    }

    .about-features-inner {
        flex-direction: row;
    }

    .marquee-item {
        width: 200px;
        height: 100px;
        margin-right: 30px;
    }

    .pro-sub-desc {
        margin-bottom: 50px;
    }

    .p-img {
        margin: 0px 0 -60px 0;
    }

    .pr-img-sm {
        background-color: rgba(66, 168, 243, 0.2);
        padding: 20px;
    }

    .p-img {
        margin: 0;
    }

    .pr-img-lg {
        display: none;
    }

    .pr-img-sm {
        display: block;
    }

    .pr-img {
        width: 45%;
    }

    .pr-img.res {
        width: 35%;
    }

    .pr-img.ise {
        width: 30%;
    }

    .pr-vector {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .p-table-main {
        margin-top: 60px;
    }

    .testimonials-slider .swiper-slide {
        height: 210px;
    }

    .t-rating svg {
        width: 30px;
    }

    .t-col-one {
        order: 2;
    }

    .t-col-two {
        order: 1;
    }

    /* .f-icon {
        width: 80px;
        height: 80px;
    }

    .f-eng-img {
        width: 40px;
    }

    .f-inno-img {
        width: 30px;
    } */

    .pro-sub-desc {
        padding-top: 0;

    }

    .p-table-inner {
        padding-bottom: 50px;
    }

    .product-tab-wrapper .main-title {
        width: 100%;
        position: static;
    }

    .product-tab-wrapper .tab-pane {
        margin-top: 190px;
    }

    .products-tab-inner .nav-pills {
        top: 110px;
        bottom: auto;
    }

    .p-img {
        text-align: center;
    }

    .industry-title-main {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
    }

    .in-desc {
        width: 80%;
    }

    .industries-slider-main {
        margin-top: 46px;
    }

    .indstry-titles-inner {
        height: 222px;
        bottom: -131px;
    }

    .ind-titles {
        margin-left: 60px;
    }

    .ind-titles {
        height: 75px;
    }

    .t-stats {
        margin-bottom: 40px;
    }

    .testimonials-main {
        padding: 50px 50px 140px 50px;
    }

    .t-glass-effect {
        height: auto;
    }

    .testimonial-slider-main {
        margin-top: 50px;
    }

    .news-row {
        display: flex;
        gap: 30px;
    }

    .nws-col-left {
        width: 55%;
    }

    .nws-col-right {
        width: 45%;
        margin-top: 0;
    }

    .news-item.sm {
        flex-direction: row;
    }

    .news-item figure {
        margin-bottom: 0;
    }

    .nw-right {
        display: flex;
        flex-direction: column;
    }

    .nw-right .news-item {
        margin-top: 30px;
    }

    .nw-right .news-item.sm {
        margin: 30px 0 0 0;
    }

    .nw-right .news-item.sm {
        order: 2;
    }

    .nw-right .news-item {
        order: 1;
    }

    .news-main-inner {
        margin-top: 50px;
    }

    .news-item.sm .b-meta {
        margin-top: 20px;
    }

    .stats-item.lg {
        padding-top: 60px;
    }

    .stats-item.lg .stats-circle {
        top: 0;
        left: -25%;
    }

    .statistics-content-inner .st-two {
        padding-left: 0;
    }

    .statistics-content-inner .st-one {
        padding-right: 0;
    }

    .stats-item.md .stats-circle {
        top: -19%;
        right: -5%;
    }

    .stats-item.md .stats-circle {
        width: 12.958vw;
        height: 12.958vw;
    }

    .stats-item.lg .stats-circle {
        width: 15.083vw;
        height: 15.083vw;
    }

    .stats-item.sm .stats-circle {
        width: 11.229vw;
        height: 11.229vw;
    }

    .stats-item.xs .stats-circle {
        width: 10.042vw;
        height: 10.042vw;
    }

    .statistics-content-inner .st-one {
        padding-top: 180px;
    }

    .stats-item.sm .stats-circle {
        top: -27%;
        left: -19%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 90px;
    }

    .stats-item.xs {
        margin-top: 110px;
    }

    .stats-item.xs .stats-circle {
        top: -56%;
        right: -2%;
    }

    .statistics-content-inner h6 {
        font-size: 18px;
    }

    .stats-desc h6 {
        width: 64%;
    }

    .highlighted-text {
        bottom: -30px;
    }

    .ocal-bottom {
        gap: 15px;
    }

    .client-marquee-inner {
        margin-top: 50px;
    }

    .client-marquee-inner .marquee-block.marquee-margin {
        margin-top: 40px;
    }

    .ocalc-img img {
        height: 349px;
    }
}

@media screen and (max-width:1150px) {
    /* .about-desc-inner {
        padding-left: 30px;
    } */

    .about-features-inner {
        gap: 30px;
    }

    .curve-marquee-main {
        bottom: -80px;
    }

    .curve-marquee-main svg {
        width: 100%;
    }

    .indstry-titles-inner {
        height: 192px;
    }
}

@media screen and (max-width:1024px) {
    .main-btn {
        padding: 20px 50px;
    }

    .sec-margin-top {
        margin-top: 100px;
    }

    .sec-margin-bottom {
        margin-bottom: 100px;
    }

    .sec-padding-bottom {
        padding-bottom: 100px;
    }

    .sec-padding-top {
        padding-top: 100px;
    }

    .curve-marquee-main {
        bottom: -110px;
    }

    .products-tab-inner .nav-link {
        width: 140px;
        height: 140px;
    }

    .ocalc-list {
        margin-top: 30px;
    }

    .industries-slider-main {
        width: 75%;
    }

    .indstry-titles-inner {
        left: -50px;
        padding-right: 20px;
        width: 62%;
    }

    .ind-titles {
        width: 63%;
    }

    .industry-item {
        height: 184px;
    }

    .testimonials-main {
        padding: 50px 50px 100px 50px;
    }

    .t-titles {
        height: 80px;
    }

    .t-title {
        top: 11px;
    }

    .stats-item.md .stats-circle {
        width: 13.958vw;
        height: 13.958vw;
    }

    .stats-count {
        font-size: 36px;
    }

    .stats-desc h6 {
        width: 71%;
    }

    .statistics-content-inner .st-one {
        padding-top: 150px;
    }

    .stats-item.md .stats-circle {
        top: -12%;
        right: -10%;
    }

    .stats-item.sm .stats-circle {
        top: -39%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 93px;
    }

    .stats-item.xs {
        margin-top: 79px;
    }

    .stats-item.xs .stats-circle {
        top: -55%;
        right: -3%;
    }

    .statistics-wrapper {
        padding-bottom: 210px;
    }

    .stats-count.h1 {
        font-size: 34px;
    }

    .stats-item.lg {
        padding-top: 50px;
    }

    .highlighted-text {
        font-size: 12.344vw;
    }

}

@media screen and (max-width:1023.98px) {
    .container {
        max-width: calc(700px + 36px);
    }

    .about-hero-wrapper {
        height: 570px;
    }

    h1,.h1 {
        font-size: 46px;
    }

    .a-right-text {
        width: 63%;
    }

    .ocal-content {
        padding: 30px 0 0 0;
    }

    .main-btn span {
        font-size: 16px;
    }

    .o-buttons .main-btn {
        padding: 20px 25px;
    }

    .client-marquee-inner .marquee-block.last {
        width: 90%;
    }

    h2 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    .testimonials-slider .swiper-slide {
        height: 250px;
    }

    .news-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .nws-col-left {
        width: 100%;
    }

    .nws-col-right {
        width: 100%;
        margin-top: 0;
    }

    .product-tab-wrapper .tab-pane {
        margin-top: 230px;
    }
}

@media screen and (max-width:991.98px) {
    h1,.h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    h5 {
        font-size: 22px;
    }

    /* 
    .f-icon {
        width: 65px;
        height: 65px;
    }

    .f-eng-img {
        width: 36px;
    }

    .f-inno-img {
        width: 26px;
    } */

    .main-btn {
        padding: 20px 40px;
    }

    .about-hero-wrapper {
        height: 530px;
    }
}


@media screen and (max-width:850px) {
    .curve-marquee-main {
        bottom: -130px;
    }

    .industries-slider-main {
        width: 80%;
    }

    .industry-item {
        height: 264px;
    }

    .indstry-titles-inner {
        width: 88%;
    }

    .ind-titles {
        height: 61px;
    }

    .indstry-titles-inner {
        bottom: -111px;
    }

    .news-item.sm .b-meta {
        margin-top: 20px;
    }

    .stats-count {
        font-size: 29px;
    }

    .stats-item.md .stats-circle {
        top: -9%;
        right: -6%;
    }

    .statistics-content-inner .st-one {
        padding-top: 154px;
    }

    .stats-item.sm .stats-circle {
        top: -19%;
        left: -20%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 45px;
    }

    .stats-item.sm .stats-circle {
        top: -21%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 44px;
    }

    .stats-item.xs .stats-circle {
        top: -42%;
    }

    .stats-item.xs {
        margin-top: 52px;
    }

    .stats-item.lg .stats-circle {
        top: 6%;
    }

    .statistics-wrapper {
        padding-bottom: 160px;
    }

    .statistics-content-inner {
        margin-top: 50px;
    }
}

@media screen and (max-width:839.98px) {

    .a-right-text {
        width: 64%;
    }

    .about-hero-wrapper {
        height: 424px;
    }

    .container {
        max-width: calc(640px + 36px);
    }

    .client-marquee-inner .marquee-block.last {
        width: 98%;
    }

    .stats-count.h1 {
        font-size: 30px;
    }

    .statistics-content-inner .st-one {
        padding-top: 144px;
    }

    .stats-item.sm .stats-circle {
        top: -33%;
    }

    .statistics-content-inner h6 {
        font-size: 17px;
    }

    .stats-item.sm .stats-circle {
        top: -16%;
    }

    .ocalc-img img {
        height: 370px;
    }

    .testimonials-slider .swiper-slide {
        height: 240px;
    }

    .circular-lg {
        display: none;
    }

    .circular-arrow.circular-md {
        position: absolute;
        bottom: -27px;
        right: -18px;
        display: block;
    }

    .o-buttons {
        margin-top: 20px;
    }

    .down_arrow_size {
        width: 30px;
    }

    .product-tab-wrapper .tab-pane {
        margin-top: 220px;
    }

}

@media screen and (max-width:800px) {
    .statistics-content-inner h6 {
        font-size: 17px;
    }

    .stats-item.sm .stats-circle {
        top: -33%;
    }

    .stats-item.xs .stats-circle {
        top: -44%;
    }

    .stats-item.xs {
        margin-top: 34px;
    }
}

@media screen and (max-width:767.98px) {
    .container {
        max-width: calc(600px + 36px);
    }
        h1,.h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }

    .btn-link span,
    p {
        font-size: 18px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .client-marquee-inner .marquee-block.last {
        width: 90%;
    }

    .client-marquee-inner {
        margin-top: 40px;
    }

    .client-marquee-inner .marquee-block.marquee-margin {
        margin-top: 40px;
    }

    .products-tab-inner .nav-pills {
        top: 110px;
    }

    .pro-sub-desc {
        margin-bottom: 30px;
    }

    .p-table-inner {
        padding-bottom: 30px;
    }

    .ocalc-list {
        padding: 0 15px 0 0;
        margin-bottom: 0;
    }

    .stats-count {
        font-size: 26px;
    }

    .statistics-content-inner .st-one {
        padding-top: 122px;
    }

    .stats-count.h1 {
        font-size: 28px;
    }

    .stats-item.md .stats-circle {
        top: -4%;
    }

    .stats-desc h6 {
        width: 73%;
    }

    .statistics-content-inner .mt-80 {
        margin-top: 34px;
    }

    .stats-item.md .stats-circle {
        right: -10%;
    }

    .stats-item.sm .stats-circle {
        top: -19%;
    }

    .stats-item.xs {
        margin-top: 54px;
    }

    .stats-item.xs .stats-circle {
        top: -40%;
    }

    .statistics-wrapper {
        padding-bottom: 130px;
    }

    .highlighted-text {
        bottom: -11px;
        font-size: 90px;
    }

    .o-buttons .main-btn {
        padding: 20px 30px;
    }

    .ocalc-img img {
        height: 350px;
    }

    .testimonials-slider .swiper-slide {
        height: 220px;
    }
}

@media screen and (max-width:650px) {

    /* .stats-item.sm .stats-circle {
        left: -17%;
        top: -12%;
    }

    .stats-item.xs .stats-circle {
        top: -12%;
    }

    .stats-item.lg .stats-circle {
        top: 9%;
        left: -23%;
    } */
    .circular-arrow.circular-md {
        right: -10px;
    }

    .stats-desc h6 {
        width: 78%;
    }

    .statistics-content-inner {
        margin-top: 30px;
    }
}

@media screen and (max-width:640.98px) {

    .ocalc-list {
        padding: 0 0 0 0;
    }

    .o-buttons {
        flex-direction: row;
        display: inline-flex;
        margin-top: 30px;
    }

    .about-features-inner {
        flex-direction: column;
    }

    .about-desc-inner h4 {
        font-size: 18px;
    }

    .ocal-content {
        padding: 40px 0 0 0;
    }

    .inner-down-arrow .down_arrow_size {
        width: 20px;
    }

    .inner-down-arrow {
        height: 63px;
        width: 63px;
    }

    .circular-box-main {
        width: 108px;
        height: 108px;
    }

    .main-btn span {
        font-size: 16px;
    }

    .industries-slider-main {
        width: 85%;
    }

    .indstry-titles-inner {
        height: 262px;
        bottom: -128px;
    }

    .ind-titles {
        height: 72px;
    }

    .industry-item {
        height: 214px;
    }

    .testimonial-slider-main {
        margin-top: 40px;
    }

    .testimonials-main {
        padding: 50px 30px 80px 30px;
    }

    .testi-titles-inner {
        left: 30px;
    }

    .t-stats-count {
        font-size: 30px;
    }

    .news-item.sm {
        flex-direction: column;
    }

    .stats-count.h1 {
        font-size: 25px;
    }

    .pr-img {
        width: 35%;
    }

    .pr-img.res {
        width: 30%;
    }

    .pr-img.ise {
        width: 25%;
    }

    .pr-vector {
        width: 70%;
    }

    .testimonials-slider .swiper-slide {
        height: 230px;
    }

    .t-content {
        margin-top: 30px;
    }

    .blog-slider-mobile {
        display: block;
        margin-top: 30px;
    }

    .blog-slider-mobile .swiper-slide {
        display: flex;
    }

    .news-item {
        height: 100%;
        flex: 1;
    }

    .news-lg-main {
        display: none;
    }

    .blog-slider-mobile .swiper-pagination {
        bottom: 33px;
    }

    .blog-slider-mobile .swiper {
        padding-bottom: 40px;
    }

    .news-item.sm {
        margin-top: 0;
    }
}

@media screen and (max-width:639.98px) {
    .container {
        max-width: calc(100% + 36px);
    }

    .col-sm-6.ocal-col {
        width: 100%;
    }

    .ocalc-list {
        margin-top: 20px;
    }

    .ocalc-img {
        margin-top: 30px;
        text-align: center;
    }

    .marquee-item {
        width: 200px;
        margin-right: 20px;
    }

    .marquee-item img {
        width: 100%;
    }

    .marquee-item {
        width: 170px;
    }

    .stats-count.h1 {
        font-size: 23px;
    }

    .col-sm-6.st-one,
    .col-sm-6.st-two {
        width: 100%;
    }

    .statistics-content-inner {
        margin-top: 0;
    }

    .stats-desc {
        border-color: #6d80aa;
    }

    .stats-item .stats-desc {
        width: 100%;
    }

    .stats-item.md .stats-desc,
    .stats-item.lg .stats-desc {
        padding-left: 117px;
    }

    .stats-item.xs .stats-desc,
    .stats-item.sm .stats-desc {
        padding-right: 117px;
    }

    .stats-item.md .stats-circle {
        right: auto;
        left: 0;
        top: 20px;
    }

    .stats-item.xs .stats-circle {
        right: 0;
        left: auto;
        top: 20px;
    }

    .stats-item.lg .stats-circle {
        top: 20px;
        left: 0;
    }

    .stats-desc h6 {
        width: 100%;
    }

    .statistics-content-inner .st-one {
        padding-top: 0;
    }

    .stats-count {
        font-size: 21px;
    }

    .stats-item.md .stats-circle,
    .stats-item.lg .stats-circle,
    .stats-item.sm .stats-circle,
    .stats-item.xs .stats-circle {
        width: 80px;
        height: 80px;
    }

    .stats-item.lg {
        padding-top: 0;
    }

    .statistics-content-inner .st-two {
        padding-left: 15px;
    }

    .stats-item.sm .stats-circle {
        left: auto;
        top: 20px;
        right: 0;
    }

    .stats-item,
    .stats-item.xs {
        margin-top: 40px;
    }

    .statistics-content-inner .st-one {
        padding-right: 15px;
    }

    .statistics-content-inner h6 {
        font-size: 16px;
    }

    .stats-item.md {
        padding-top: 0;
    }

    .circular-arrow.circular-md {
        right: 21%;
    }

    .products-tab-inner .nav-link {
        width: 130px;
        height: 130px;
    }
        .a-right-text {
        width: 71%;
    }
}


@media screen and (max-width:575px) {
        h1,.h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 19px;
    }

    h6 {
        font-size: 16px;
    }

    .btn-link span,
    p {
        font-size: 14px;
    }

     .a-right-text {
        width: 89%;
        margin: 0;
    }
        .a-title {
        width: 85%;
    }

    .about-hero-wrapper .h-100 {
        height: auto !important;
    }

    .about-hero-wrapper {
        height: auto;
        padding: 100px 0;
    }

    .t-content h4 {
        font-size: 18px;
    }

    .a-img-sm {
        height: auto;
    }

    .f-icon {
        width: 50px;
        min-width: 50px;
        height: 50px;
    }

    .f-eng-img {
        width: 30px;
    }

    .f-inno-img {
        width: 20px;
    }

    .ocalc-list {
        gap: 15px;
    }

    .o-buttons {
        margin-top: 20px;
    }

    /* .o-buttons > *{
        width: 50%;
    } */

    .main-btn span {
        font-size: 14px;
    }

    .sec-margin-top {
        margin-top: 60px;
    }

    .sec-margin-bottom {
        margin-bottom: 60px;
    }

    .sec-padding-bottom {
        padding-bottom: 60px;
    }

    .sec-padding-top {
        padding-top: 60px;
    }

    .textAnim {
        font-size: 24px;
    }

    .curve-marquee-main {
        bottom: -150px;
    }

    .client-marquee-inner {
        margin-top: 30px;
    }

    .client-marquee-inner .marquee-block.marquee-margin {
        margin-top: 20px;
    }

    .products-tab-inner .nav-pills {
        top: 90px;
    }

    .product-tab-wrapper .tab-pane {
        margin-top: 160px;
    }

    .products-tab-inner .nav-link {
        width: 100px;
        height: 100px;
    }

    .products-tab-inner .nav-link img {
        bottom: -20px;
    }

    .p-table-main .table>:not(caption)>*>* {
        padding: 12px;
    }

    .pro-sub-desc {
        font-size: 16px;
    }

    .ocal-content {
        padding: 30px 0 0 0;
    }

    .o-buttons .main-btn {
        padding: 18px 20px;
    }

    .in-desc {
        width: 100%;
    }

    .t-rating svg {
        width: 26px;
    }

    .t-stats-count img {
        width: 20px;
    }

    .news-main-inner {
        margin-top: 30px;
    }

    .news-item.sm .b-img img {
        width: 100%;
    }

    .testimonials-slider .swiper-slide {
        height: 210px;
    }

    .circular-arrow.circular-md {
        right: 17%;
    }


}

@media screen and (max-width:520.98px) {
    .industry-item {
        height: 186px;
    }

    .highlighted-text {
        font-size: 70px;
    }

    .statistics-wrapper {
        padding-bottom: 90px;
    }

    .marquee-item {
        width: 140px;
        height: auto;
    }

    .t-titles {
        width: 60%;
    }

    .circular-arrow.circular-md {
        right: 15%;
    }

    .o-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width:480.98px) {
    .about-features-inner {
        flex-direction: column;
    }

    .products-tab-inner .nav-link {
        width: 90px;
        height: 90px;
    }

    /* .product-tab-wrapper .tab-pane {
        margin-top: 0;
    } */

    .ocalc-img {
        margin-top: 20px;
    }

    .feature-item {
        flex-direction: column;
    }

    /* .indstry-titles-inner {
        height: 226px;
        left: -40px;
    } */
    .ind-titles {
        margin-left: 40px;
    }

    .industries-slider-main {
        margin-top: 30px;
    }

    .indstry-titles-inner {
        width: 100%;
        height: 247px;
        bottom: -164px;
        left: -40px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .ind-titles {
        margin-left: 46px;
        margin-bottom: 10px;
        width: 90%;
        /* margin-bottom: 0; */
    }

    .slider-arrow {
        margin-left: 46px;
    }

    .t-stats {
        padding: 40px 30px;
    }

    .b-more-link {
        width: 40px;
        height: 40px;
    }

    .b-more-link svg {
        width: 18px;
    }

    .news-item {
        padding: 30px 20px;
    }

    .t-rating {
        gap: 7px;
    }

    .pr-vector {
        width: 60%;
    }

    .t-titles {
        height: 70px;
    }

    .testimonials-slider .swiper-slide {
        height: 220px;
    }

    .t-title {
        top: 7px;
    }
        .a-title {
        width: 90%;
    }
}

@media screen and (max-width:430.98px) {
    h1{
        font-size: 28px;
    }
    .curve-marquee-main {
        bottom: -170px;
    }

    .products-tab-inner .nav-link {
        width: 80px;
        height: 80px;
    }

    .products-tab-inner .nav-pills {
        top: 80px;
    }

    .p-table-main {
        margin-top: 51px;
    }

    .products-tab-inner .nav-link img {
        bottom: -14px;
    }

    .p-table-inner {
        padding-bottom: 20px;
    }

    .industry-item {
        height: 176px;
    }

    .testimonials-main {
        padding: 50px 20px 100px 20px;
    }

    .t-rating svg {
        width: 25px;
    }

    .t-content {
        margin-top: 30px;
    }

    .testi-titles-inner {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .t-titles {
        width: 100%;
    }

    .t-title {
        top: 4px;
        left: 18px;
    }

    .b-category {
        padding: 10px 32px;
    }

    .b-meta .text-16 {
        font-size: 14px;
    }

    .b-meta {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .b-img,
    .b-meta {
        margin-top: 20px;
    }

    .b-img.nws-col-right {
        margin-top: 0;
    }

    h6,.h6 {
        font-size: 16px;
    }

    .stats-item.md .stats-desc,
    .stats-item.lg .stats-desc {
        padding-left: 107px;
    }

    .stats-item.xs .stats-desc,
    .stats-item.sm .stats-desc {
        padding-right: 107px;
    }

    .highlighted-text {
        font-size: 59px;
        bottom: -9px;
    }

    .o-buttons .main-btn {
        padding: 14px 10px;
    }

    .marquee-item {
        width: 120px;
        height: 68px;
    }

    .testimonials-slider .swiper-slide {
        height: 260px;
    }

    .circular-arrow.circular-md {
        right: 7%;
    }

    .product-tab-wrapper .tab-pane {
        margin-top: 140px;
    }
    .a-title {
        width: 100%;
    }
    .a-right-text {
        width: 100%;
    }
    .about-hero-wrapper{
        padding:80px 0;
    }

}

@media screen and (max-width:380.98px) {
    .products-tab-inner .nav-link {
        width: 70px;
        height: 70px;
    }

    .products-tab-inner .nav-pills {
        top: 95px;
    }

    .indstry-titles-inner {
        left: -30px;
    }

    .industry-item {
        height: 157px;
    }

    .ind-titles {
        height: 82px;
    }

    .ind-titles,
    .slider-arrow {
        margin-bottom: 20px;
        margin-left: 36px;
    }

    .testimonials-main {
        padding: 50px 20px 120px 20px;
    }

    .highlighted-text {
        font-size: 52px;
        bottom: -7px;
    }

    .marquee-item {
        width: 130px;
    }

    .circular-arrow.circular-md {
        right: -9px;
        bottom: -18px;
    }

    .p-table-main h6 {
        font-size: 14px;
    }

    .product-tab-wrapper .tab-pane {
        margin-top: 120px;
    }

    .p-table-main {
        margin-top: 41px;
    }

}