@media (max-width:1800px) {
     .about-desc-inner{
        padding-left: 63px;
    }
}

@media(max-width:1750px){
   .f-desc{
    margin-top:30px;
   }
   .about-features-inner{
    gap:60px;
   }
}

@media(max-width:1550px){
      .about-features-inner{
    gap:40px;
   }
   h5{
        font-size: 26px;
   }
     h6,
     .btn-link span{
        font-size: 18px;
   }
}

@media(max-width:1440px){
        .about-desc-inner {
        padding-left: 43px;
    }
    .sub-title {
    margin-bottom: 15px;
}
}

@media(max-width:1150px){
          .about-desc-inner {
        padding-left: 30px;
    }
        h5 {
        font-size: 24px;
    }
    .about-features-inner {
        gap: 30px;
    }
    .f-desc {
        margin-top: 20px;
    }
    .curve-marquee-main{
        bottom: -80px;
    }
    .curve-marquee-main svg{
        width: 100%;
    }
}

@media(max-width:1024px){
        .container {
    width: 100%;
    max-width: 100%;
    padding:0 40px;
    margin-inline: auto;
    }
    .sec-margin-top{
        margin-top:100px;
    }
    .sec-margin-bottom{
        margin-bottom:100px;
    }
       .curve-marquee-main{
        bottom: -110px;
    }
}

@media(min-width:992px){
     .a-col-left{
    width: 40.6%;
   }
    .a-col-right{
    width: 59.4%;;
   }
}

@media(max-width:991px){
        .about-desc-inner {
        padding-left: 16px;
    }
    .container{
        padding: 0 30px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 22px;
    }
}

@media(max-width:850px){
       .curve-marquee-main{
        bottom: -130px;
    }
}
@media(max-width:767px){
        .about-desc-inner {
        padding: 30px 0 0 0;
    }
}

@media(max-width:575px){
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 20px;
    }
      h6,
     .btn-link span,
     p{
        font-size: 16px;
   }
    .container {
        padding: 0 16px;
    }
 .sec-margin-top{
        margin-top:60px;
    }
    .sec-margin-bottom{
        margin-bottom:60px;
    }
    .textAnim {
        font-size: 24px;
    }
    .curve-marquee-main {
        bottom: -150px;
    }
}

@media(max-width:480px){
    .about-features-inner{
        flex-direction: column;
    }
    .f-desc {
        margin-top: 15px;
    }
    h4{
        font-size: 18px;
    }
}

@media(max-width:430px){
     .curve-marquee-main {
        bottom: -170px;
    }
}