
.container {
  width: 100%;
  padding:0 18px;
  margin-inline: auto;
}
.button-link-main{
    padding-bottom: 13px;
    border-bottom: 1px solid #D0D3D6;
    margin-top:24px;
}
.btn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.btn-link span{
    font-size: 22px;
}
.btn-link{
    color: #000000;
}
.centered-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
/******* hero video **********/
.hero-video-wrapper{
    /* height: 100vh; */
}
.curve-marquee-main{
    position: absolute;
    bottom:0;
    left:0;
}
/* .curve-marquee {
  width: 100%;
  height: auto;
} */

/* .curve-marquee {
        position: relative;
        bottom: 168px;
        height: 685px;
        left: -130px;
        width: 2154px;
    } */

    .textAnim {
        font-size: 20px;
        letter-spacing: 0;
    }
    text { white-space: nowrap; }


    /****About Us*******/
    .sub-title{
        margin-bottom: 15px;
    }
    .about-desc-inner{
        padding-left: 104px;
    }

    .about-features-inner{
        margin-top:40px;
        display: flex;
        gap:90px;
    }
    .f-icon{
        width: 90px;
        height: 90px;
        background-color: #E6FFBD;
    }
    .f-content{
        margin-top: 20px;
    }
    .f-desc{
        margin-top:40px;
        /* font-size: 18px; */
    }
       .a-col-left{
    width: 40.6%;
   }
    .a-col-right{
    width: 59.4%;;
   }
.a-img-sm{
    display: none;
}
    /*****statistics*****/
    .statistics-wrapper{
        background-color: #000E2B;
        padding-bottom: 350px;
        /* height: 100vh; */
    }
    .statistics-content-inner{
        margin-top:90px;
    }
    .statistics-content-inner .st-one{
        padding-top:150px;
        padding-right: 75px;
    }
    .statistics-content-inner .st-two{
        padding-left: 75px;
    }
    .highlighted-text{
        font-size:16.344vw;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.1);
        line-height: 1;
    position: absolute;
    bottom: -46px;
        left: 0;
    right: 0;
    }

    .stats-item{
       z-index:1;
    }
    .stats-item h6{
        color:#EFF0F1;
    }
    .stats-circle{
        position: absolute;
        z-index: -1;
    }
    .stats-desc{
        border-top: 1px solid #D4DBEA;
        padding-top:20px;
    }
    .stats-desc h6{
        width: 52%;
    }
    .st-two .stats-desc h6{
        margin-left: auto;
    }
    .stats-item.lg,
    .stats-item.md{
        padding-top: 100px;
    }
    .stats-item.lg .stats-circle{
        width: 22.083vw;
        height: 22.083vw;
        background:rgba(156, 161, 226, 0.14);
         backdrop-filter: blur(18px) saturate(140%);
        -webkit-backdrop-filter: blur(18px) saturate(140%);
         box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.05),
        0 20px 60px rgba(0, 0, 0, 0.35);
        left: -30%;
        top:0;
    }
    .stats-item.md .stats-circle{
        width: 18.958vw;
        height: 18.958vw;
        background: rgba(230, 255, 189, 0.12);
        backdrop-filter: blur(22px) saturate(60%);
  -webkit-backdrop-filter: blur(22px) saturate(60%);
  /* box-shadow:
    inset 0 0 40px rgba(255, 255, 255, 0.06),
    0 30px 80px rgba(0, 0, 0, 0.35); */
    top:0;
    right: -10%;
    }
    .stats-item.sm .stats-circle{
        width: 13.229vw;
        height: 13.229vw;
        background: rgba(66, 168, 243, 0.12);
        backdrop-filter: blur(20px) saturate(80%);
  -webkit-backdrop-filter: blur(20px) saturate(80%);
  /* box-shadow:
    inset 0 0 30px rgba(255, 255, 255, 0.05),
    0 25px 70px rgba(0, 0, 0, 0.35); */
    top: -30%;
    left: -23%;
    }
    .stats-item.xs .stats-circle{
        width: 11.042vw;
        height: 11.042vw;
         /* top: -35%;
        right: -19%; */
        background: rgba(85, 113, 171, 0.10);
        backdrop-filter: blur(20px) saturate(55%);
  -webkit-backdrop-filter: blur(20px) saturate(55%);
  /* top: -57%;
    right: -9%; */
    top: -34%;
    right: -5%;

    }
  
    .mt-80{
        margin-top:150px;
    }

    .stats-item.md{
        z-index:2;
    }
    .stats-item.sm{
        z-index:3;
    }
    .stats-item.xs{
        z-index:4;
        margin-top:100px;
    }

    /********image marqueee*******/
    .client-marquee-inner{
        margin-top:80px;
    }
 .client-marquee-inner .marquee-block {
  overflow: hidden;
  width: 100%;
  /* max-width: clamp(866px, 84.375vw, 1620px); */
}
.client-marquee-inner .marquee-block.last{
    max-width: 100%;
        width: 60%;
    margin: 0 auto;
}
.client-marquee-inner .marquee-block.marquee-margin{
    margin-top:70px;
}

.client-marquee-inner .marquee-inner {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
  will-change: transform;
}
.client-marquee-inner .marquee-block.reverse .marquee-inner{
    animation: scroll-right 25s linear infinite;
}

.marquee-item {
  border: 0.89px solid #DFE2E3;
  border-radius: 18px;
  width: 280px;
  padding: 10px;
    margin-right: 50px; 
  text-align: center;
  flex-shrink: 0;
  display: flex;
    align-items: center;
    justify-content: center
}
.marquee-item img{
    max-width: 100%;
}

    /* .client-marquee-inner .marquee-block .marquee-inner {
    position: relative;
    z-index: 10;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: center;
    animation: scroll-left 40s linear infinite;
    -webkit-animation: scroll-left 40s linear infinite;
    will-change: transform;
    transform: translateX(0);
}
 .client-marquee-inner .marquee-block .marquee-text,
 .client-marquee-inner .marquee-block .marquee-inner{
    gap:50px;
 }
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
 .client-marquee-inner .m-item{
    border:0.89px solid #DFE2E3;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
} */

/*******Products Tab Wrapper************/
.product-tab-wrapper{
    background-color: rgba(217, 237, 252, 0.5);
}
.product-tab-wrapper .main-title{
    width: 50%;
    position: absolute;
    top:0;
    left:0;
}
.p-img{
    margin-top:86px;
}
.p-table-main h6{
    color: #000000;
    margin-bottom: 0;
    
}
.p-table-main .table{
    border-color: #8ECBF8;
    border-width: 0;
}
.p-table-main{
    background: rgba(179, 220, 250, 0.10);
     backdrop-filter: blur(35px) saturate(100%);
  -webkit-backdrop-filter: blur(35px) saturate(100%);
margin-top: 244px;
  padding:40px;
}
.p-title{
    margin-bottom: 30px;
}
.p-table-main .table>:not(caption)>*>*{
    background-color: transparent;
    padding: 20px;
}
.pr-img-sm,
.circular-md,
.blog-slider-mobile{
    display: none;
}
/* .products-tab-inner{
    margin-top:40px;
} */
.p-table-main table tr {
  border-top: 1px solid rgba(0, 123, 255, 0.15);
}

.spec-table table tr:last-child {
  border-bottom: none;
}
.p-table-main .table h6{
    line-height: 1;
}
.p-table-main .divider {
  width: 1%;
  position: relative;
}

.p-table-main .divider::after {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 50%;
  width: 1px;
  height: 100%;
  background: rgba(0, 123, 255, 0.25);
}
.products-tab-inner .nav-pills{
    position: absolute;
    bottom: 20px;
    /* display: flex;
    gap: 30px; */
}
.products-tab-inner .nav-link{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-right: 30px; */
    transform: scale(0.8);
    transition: transform 0.5s ease;
}

.products-tab-inner .nav-link,
.products-tab-inner .nav-link.active{
    background: rgba(66, 168, 243, 0.15); /* #42A8F3 @ ~15–20% */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.products-tab-inner .nav-link.active{
    transform: scale(1);
    margin-right: 15px;
}
.products-tab-inner .nav-link img{
    object-fit: cover;
    width: 119px;
    position: relative;
    bottom: -30px;
}
.p-img{
        margin: 0px 0 -60px 0;
    position: relative;
    z-index: 1;
}
.pro-sub-desc{
    padding-top: 70px;
    margin-bottom: 80px;
}
.p-table-inner{
    padding-bottom: 100px;
}
.pro-col-left{
    padding-right:20px;
}
.pro-col-right{
    padding-left:20px;
}

/****ocalc*****/
.main-btn span{
    font-size: 22px;
    color:#002B81;
}
.main-btn{
    border:1px solid #D4DBEA;
    border-radius: 20px;
    padding:25px 90px;
}
.o-buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
     margin-top:60px;
}
.main-btn:hover{
    background-color: #002B81;
}
.main-btn:hover span{
    color:#ffffff;
}
.ocal-content{
    padding-left: 55px;
}
.ocalc-list{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:0 55px 0 0;
    margin-top:50px;
    /* padding-right: 70px; */
}
.ocalc-list li {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.ocalc-list li::before {
    content: "•";
    font-size: 24px;
    line-height: 1.2;
}
.ocalc-list li::marker{
    margin:0;
}
.ocalc-list li h6 {
    display: inline;
}
.ocal-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.circular-box-main {
     width: 128px;
     height: 128px;
     margin-left: auto;
     position: relative;
     margin-top:20px;
}

.c-box {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     animation: rotateCircle 10s linear infinite;
}
.inner-down-arrow {
     z-index: 2;
     position: relative;
     background: #E6FFBD;
     border-radius: 50%;
     height: 83px;
     width: 83px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.inner-down-arrow .down_arrow_size {
     transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-down-arrow:hover .down_arrow_size {
     transform: rotate(45deg);
}


/****Industries slider*******/
    .industries-wrapper.sec-padding-bottom {
        padding-bottom: 200px;
    }
.industry-title-main{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
        gap: 30px;
}
.industry-title-main .main-title{
    width: 60%;
}
.in-desc{
    width: 30%;
}
.industries-slider-main{
    margin-top:76px;
}
.industry-item{
    width: 100%;
    height: 335px;
     border-radius: 20px;
}
.industry-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.industries-slider-main{
    width: 70%;
    margin-left: auto;
}
.industry-slider {
  width: 100%;
  overflow: visible; /* allow partial slides */
}
.industry-slider .swiper-slide{
    width: calc(530px + 20px);
}
.indstry-titles-inner{
    position: absolute;
    left: -80px;
    bottom: -110px;
    width: 54%;
    height: 362px;
    background: #e6e6e6;
    box-shadow: 0px 0px 118.7px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: flex-end;
}
.ind-titles{
    width: 55%;
    overflow: hidden;
    margin-left:80px;
    margin-bottom: 20px;
    height: 61px;
    position: relative;
}

.ind-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: all 0.6s ease;
  will-change: transform;
   pointer-events: none;
}
/* .ind-title { transform: translateX(100%); transition: transform .6s ease; }
.ind-title[data-state="active"] { transform: translateX(0); }
.ind-title[data-state="left"]   { transform: translateX(-100%); }
.ind-title[data-state="right"] {
  transform: translateX(100%);
} */
.ind-title.active {
  transform: translateX(0);
  z-index: 2;
}

.ind-title.is-left {
  transform: translateX(-100%);
  z-index: 1;
}

.swiper-btn.swiper-button-prev,
.swiper-btn.swiper-button-next{
    width: 50px;
    height: 50px;
    background-color: #E6FFBD;
    border-radius: 50%;
    position: static;
}
.swiper-btn.swiper-button-next svg,
.swiper-btn.swiper-button-prev svg{
    width: 20px;
    height: 20px;
} 
.swiper-btn.swiper-button-prev{
    transform: rotate(-180deg);
}
.swiper-button-prev:after, .swiper-button-next:after {
    content: none !important;
}
.indstry-titles-inner{
    display: flex;
    align-items: flex-end;
        gap: 30px;
}
.slider-arrow{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
}

/**********testimonial***************/
.testimonial-wrapper{
    background: #8286BC;
}
.testimonial-slider-main{
    margin-top:80px;
}
.testi-titles-inner{
    position: absolute;
    left:50px;
    bottom:50px;
    width: 88%;
        display: flex;
    align-items: flex-end;
        justify-content: space-between;
    height: 100px;
}
.testimonials-main{
    padding:50px 50px 170px 50px;
}
.t-titles{
    padding: 0 18px 0 30px;
    border-left:2px solid #E6FFBD;
    height: 90px;
    width: 50%;
    overflow: hidden;
}
.t-quote-icon{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.t-content{
    margin-top:40px;
}
.t-rating{
    display: flex;
    gap:10px;
}
.t-title {
  position: absolute;
  top: 18px;
    left: 30px;
    width: 100%;
    transform: translateY(110%);
  transition: all 0.6s ease;
  will-change: transform;
   pointer-events: none;
   overflow: hidden;
   padding-bottom: 30px;
}
/* active title */
.t-title.active {
  transform: translateY(0);
  z-index: 2;
}
/* exit left */
.t-title.is-left {
  transform: translateY(-110%);
  z-index: 1;
}

.testimonials-slider .swiper-slide{
    height:265px;
}

.testimonials-main .swiper-pagination-bullet{
background: #ffffff;
opacity: 0.4;
}
.testimonials-main .swiper-pagination-bullet-active{
    opacity:1;
}
.testimonials-main .swiper-pagination{
    position: static;
}
.t-glass-effect{
    background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
      height: 100%;
}
.t-stats{
    padding:40px 60px;
}
.t-stats-count{
    font-size: 4.375vw;
}
.t-divider{
    border:1.5px solid #E6FFBD;
    display: block;
    margin:38px 0;
}

/*****blogs*******/
.news-main-inner{
    margin-top:80px;
}
.news-item{
    background: #EFF0F1;
    padding:30px;
}
.b-more-link{
    width: 50px;
    height: 50px;
    border:1px solid #CDD0F0;
    border-radius: 50%;
}
.b-meta{
    align-items: center;
}
.b-title,
.b-meta{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.b-category{
    background-color: #DFE2E3;
    padding:10px 30px;
}
.b-img,
.b-meta{
    margin-top:30px;
}
.news-item.sm{
    display: flex;
    gap:20px;
       margin-top: 20px;
}
.news-item.sm .b-img{
margin-top: 0;
}
.news-item.sm .b-img img{
    border-radius: 12px;
}
.nw-right .news-item.sm{
    margin:0 0 20px 0;
}

/********About Us Page***********/
.about-hero-wrapper{
    height: 850px;
}
.about-hero-wrapper{
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/about-us/about-banner-img.webp) center center / cover no-repeat;
    transform: scale(1);
    /* animation: bgZoomOut 2s ease-out forwards; */
    z-index: 0;
}
.about-hero-wrapper > * {
    position: relative;
    z-index: 1;
}
.a-right-text{
margin-left: auto;
width: 35%;
}
.a-title{
    width: 70%;
}
.a-row{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.d-row{
    gap:112px;
}
/* .d-col-one{
    padding-right: 56px;
}
.d-col-two{
    padding-left: 56px;
} */
.counter-row{
    display: flex;
    gap:40px;
}
.count-item{
    padding:58px 78px;
    width: 393px;
}
.ab-desc{
    margin-top:20px;
}
.count,
.count-block p{
    color:#093250;
}
.counter-inner{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.d-title{
    width: 95%;
}

/******About Feature*********/
.f-row{
    justify-content: space-between;
    gap:32px;
}
.feature-wrapper .main-title{
    width: 80%;
}
.feature-grid-main{
    gap:30px;
    margin-top:96px;
    flex-wrap: wrap;
}
.feature-item{
    background:#fff; 
    padding:50px 30px;
    display: flex;
    flex-direction: column;
}
.fe-icon{
    width: 144px;
    height: 144px;
    margin:45px 0 20px 0;
}
.feature-item .ab-desc {
        margin-top: 0;
    }


@keyframes scroll-left {
			from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes scroll-right {
			from {
    transform: translate3d(-50%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotateCircle {
     100% {
          transform: rotate(360deg);
     }
}

@keyframes bgZoomOut {
    from {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}
